stsa/passive_marker_man.glb filter=lfs diff=lfs merge=lfs -text
optmesh/Rage_Q2_Instances_packed.glb filter=lfs diff=lfs merge=lfs -text
optmesh/Rage_Q3_Q4_Combined_packed.glb filter=lfs diff=lfs merge=lfs -text
stsa/houdini_out_packed.glb filter=lfs diff=lfs merge=lfs -text
sprites/fireball_emission.png filter=lfs diff=lfs merge=lfs -text
metallic/Non_Metallic_Spheres.glb filter=lfs diff=lfs merge=lfs -text
metallic/shanghai_bund_8k_edited.env filter=lfs diff=lfs merge=lfs -text
optmesh/Rage_Q1_NoInstances_packed.glb filter=lfs diff=lfs merge=lfs -text
sprites/fireball_albedo.png filter=lfs diff=lfs merge=lfs -text
